body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  width: 95%;
  margin: 0 auto;
}

.container-header {
  display: flex;
  padding-top: 20px;
  height: 50px;
}

.header-left {
  width: 58%;
  margin-right: auto;
  height: 100%;
}

.header-right {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.cart {
  background-color: #A41BB9;
  width: auto;
  height: 22px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  border: none;
}

.cart:hover {
  background-color: #bb1ed3; 
}

.cart:active {
  transform: scale(0.95); 
}

.icon-cart {
  margin-right: 2px;
}

.number-cart {
  color: white;
  font-size: 13px;
}

.cart-active {
  background-color: #F5EBF7;
  width: auto;
  height: 20px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  border: 1px solid  rgba(164, 27, 185, 0.4);
}

.number-cart-active {
  color: #A41BB9;
  font-size: 13px;
}

.close-cart {
  background-color: #A41BB9;
  border: none;
  color: white;
  height: 100%;
  width: 21px;
  margin-left: 5px;
  cursor: pointer;
}

.close-cart:hover {
  background-color: #bb1ed3; 
}

.close-cart:active {
  transform: scale(0.95); 
}


/* .icon-store { 
  background-color: #892F9F;
  padding: 5px;
  border-radius: 5px;
} */

.logo{
  width: 3rem;
  height: 3rem;
}

.title-store {
  color: #A41BB9;  
  position: relative;
  top: 15px;
  height: 20px;
  font-size: 0.8rem;
  margin: 0;
}

.separator {
  height: 0.2px;
  background-color: #C2C2C2;
  opacity: 0.4;
  margin: 15px 0;
}

.container-body {
  width: 100%;
  height: auto;
  display: flex;
}

.product-left {
  width: 58%;
  margin-right: auto;
}

.product-right {
  width: 38%;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
}

.btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.btn-item:active {
  transform: scale(0.99); 
}

.active {
  border: 2px solid #D282DF;
  box-shadow: 0px 0px 4px 2px rgba(198,153,205,0.57);
}

.inactive {
  border: 1px solid #C2C2C2;
}

.pop {
  width: 7rem;
  text-align: center;
  padding: 3px;
}

.text-right {
  color: #B5B5B5;
  font-size: 0.7rem;
  font-weight: 600;
  position: relative;
  bottom: 8px;
}

.container-detail {
  height: 23rem;
  display: flex;
  flex-direction: column;
}

.one-product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 8rem;
}

.pop-one {
  width: 8.5rem;
  text-align: center;
}

.bar-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.item-name {
  display: flex;
  font-weight: 100;
  font-size: 15px;
}

.point {
  height: 1rem;
  position: relative;
  top: 1.3rem;
  margin: 0 5px;
  color: gray;
  opacity: 0.5;
}

.price {
  color: #A41BB9;
}

.btns {
  width: auto;
}

.btn-sub{
  background-color: #EEEEEE;
  border: none;
  font-size: larger;
  width: 25px;
  cursor: pointer;
}

.btn-sub:hover {
  background-color: lightgray; 
}

.btn-sub:active {
  transform: scale(0.95); 
}

.btn-add{
  background-color: #A41BB9;
  border: none;
  font-size: larger;
  width: 25px;
  color: white;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #bb1ed3; 
}

.btn-add:active {
  transform: scale(0.95); 
}

.description {
  color: #909090;
  font-size: small;
}

.stock {
  background-color: #A41BB9;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0.7rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-cart{
  background-color: #A41BB9;
  width: 2.5rem;
  position: absolute;
  right: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 23px;
}

.add-cart:hover {
  background-color: #bb1ed3; 
}

.add-cart:active {
  transform: scale(0.95); 
}

.close-product {
  background-color: transparent;
  width: 2.5rem;
  position: absolute;
  right: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  border: none;
}

.close-product :active {
  transform: scale(0.95); 
}

.container-item-cart {
  display: flex;
  flex-direction: column;
}

.item-cart-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  margin-left: 8px;
}

.stock-item-cart {
  width: 2.3rem;
  height: 2.3rem;
  font-size: larger;
}

.item-img-pop {
  display: flex;
  align-items: center;
}

.pop-item-cart {
  width: 4rem;
  height: 100%;
}

.separator-item {
  height: 0.1px;
  background-color: #C2C2C2;
  opacity: 0.2;
  margin: 12px 0;
}

.scroll-cart {
  overflow-y: scroll;
}

.container-cart-total {
  display: flex;
  justify-content: end;
}
.cart-total{
  display: flex;
  width: auto;
  padding: 0 2px;
}

.cart-total-text {
  color: #bebebe;
  font-weight: 600;
}

.cart-total-value {
  color: #A41BB9;
  font-weight: 600;
  margin-left: 2px;
}

.subcontainer-cart {
  display: flex;
  justify-content: space-between;
}

.trash-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.trash-item :active {
  transform: scale(0.95); 
}
